@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

.postTextArea {
  resize: none;
  display: block;
  border: 1px solid grey;
  width: 500px;
  margin: 20px;
  height: 300px;
  padding: 7px;
}

.blogTitle {
  border: 1px solid grey;
  padding: 7px;
  width: 200px;
  margin: 20px;

}

.blogSubmit {
  margin: 20px;
  padding: 7px;
}

.aBlogPost {
  margin: 20px;
}

.personFormInput {
  display: block;
  margin: 20px;
  padding: 3px;
}
