<div class="header"><h1>Aaron's Blog Stuff</h1>
  <h4><a href="/">Home</a></h4>
  <h4>Create a blog post and it appears on the right</h4>
</div>
<div class="sidebar">
<div class="createPost">
</div>
</div>

<div class="blogPosts"></div>
